# SERIES ASSIGNMENT

In [1]:
import pandas as pd

In [2]:
#Create two pandas series and then compare them
series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

comparison_result = series1 == series2

print(comparison_result)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [7]:

series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

# Addition
addition_result = series1 + series2
print("Addition Result:")
print(addition_result)

# Subtraction
subtraction_result = series1 - series2
print("Subtraction Result:")
print(subtraction_result)

# Multiplication
multiplication_result = series1 * series2
print("Multiplication Result:")
print(multiplication_result)

# Division
division_result = series1 / series2
print("Division Result:")
print(division_result)

Addition Result:
0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtraction Result:
0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplication Result:
0      2
1     12
2     30
3     56
4    126
dtype: int64
Division Result:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [9]:
my_teams = {'England': "Liverpool",
           'Spain': "Barcelona",
           'Germany':"Dortmund",
           'France': "Monaco",
           'Italy': "Napoli"}
other_version = pd.Series(my_teams)
print("To Series")
print(other_version)

To Series
England    Liverpool
Spain      Barcelona
Germany     Dortmund
France        Monaco
Italy         Napoli
dtype: object

In [12]:
 dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
 to_series = pd.Series(dictionary1)
print("Series")
print(to_series)

Series
Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [13]:

series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
#converting series to an array
array = series.values

print(array)
print(type(array))

['Love' 800 'Joy' 789.9 'Peace' True]
<class 'numpy.ndarray'>

In [17]:
series = pd.Series([1, 4, 4, 1, 2, 4, 2, 3, 4, 1, 2, 4, 6, 2, 4, 3, 3, 4, 0, 5, 5, 3, 4, 0, 3, 2, 3, 1, 4, 2, 3, 2, 3, 2, 2, 2, 3, 2, 4, 1, 1, 3, 3, 3, 1, 6, 2, 2, 4, 2, 1, 1, 1, 1, 1, 3, 1, 2, 3, 1, 2, 1, 1, 1, 1, 1, 2, 1, 4, 0, 3, 5, 3, 2, 1, 3, 2, 2, 1, 2, 2, 2, 2, 1, 4, 2, 2, 0, 2, 2, 2, 1, 2, 1, 2, 1, 4, 2, 1, 1, 3, 1, 1, 2, 2, 4, 3, 1, 2, 4, 2, 1, 0, 3, 1, 3, 3, 1, 0, 3, 1, 2, 1, 2, 3, 2, 2, 0, 1, 1, 0, 1, 1, 1, 3, 1, 1, 2, 2, 3, 2, 1, 0, 2, 1, 0, 3, 1, 1, 2, 0, 3, 3, 2, 2, 1, 3, 1, 4, 1, 0, 0, 1, 3, 2, 2, 0, 1, 2, 0, 3, 3, 1, 3, 2, 2, 1, 2, 0, 3, 0, 1, 1, 3, 1, 1, 3, 0, 1, 1, 1, 1, 1, 0, 1, 3, 1, 3, 0, 0, 1, 0, 1, 1, 5, 3, 1, 3, 1, 2, 1, 0, 1, 2, 0, 2, 0, 2, 1, 1, 2, 2, 3, 1, 1, 1, 3, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 0, 2, 0, 0, 0, 1, 3, 4, 0, 4, 0, 1, 1, 2, 1, 0, 0, 1, 1, 2, 4, 3, 2, 3, 2, 2, 1, 0, 3, 0, 2, 2, 5, 2, 4, 1, 2, 2, 2, 1, 2, 1, 3, 2, 2, 3, 1, 1, 3, 2, 0, 2, 0, 0, 2, 2, 1, 2, 2, 2, 2, 2, 1, 3, 0, 4, 1, 3, 5, 4, 1, 2, 4, 3, 3, 1, 0, 1, 0, 1, 1, 0, 4, 0, 1, 1, 2, 3, 0, 0, 3, 0, 1, 3, 1, 0, 2, 1, 1, 1, 4, 2, 4, 1, 0, 0, 2, 1, 2, 1, 0, 2, 2, 3, 2, 2, 1, 0, 0, 2, 2, 0, 0, 0, 0, 1, 3, 1, 1, 0, 1, 0, 3, 3, 0, 0, 1, 1, 2, 0, 0, 1, 1, 2, 1, 0, 1, 0, 2, 1, 1, 3, 1, 1, 1, 0, 3, 1, 1, 0, 1, 1, 5, 2, 0, 1, 0, 2, 4, 4, 1, 2, 2, 1, 1, 3, 1, 4, 2, 2, 3, 0, 1, 0, 3, 0, 3, 0, 0, 2, 3, 2, 4, 0, 1, 2, 0, 1, 1, 0, 1, 2, 2, 1, 2, 4, 1, 1, 2, 0, 0, 0, 2, 1, 3, 1, 2, 1, 0, 1, 4, 0, 2, 3, 4, 0, 5, 3, 3, 1, 2, 1, 1, 3, 1, 0, 2, 5, 2, 2, 0, 1, 4, 0, 4, 3, 0, 2, 0, 3, 0])
#checking for frequent value
frequent_value = series.value_counts().idxmax()

print(f"The most frequently used value: {frequent_value}")

The most frequently used value: 1